.jumbotron {
  color: #fff;
  padding: 100px 25px;
  background-position: center;
}
.jumbotron div.row img{
  background-size: 120%;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(.55,0,.1,1);
    box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);
 width:210px; height:150px;
}
.container-fluid {
  padding: 60px 50px;
  align:center;
  }
  .about{
  color:white;
}
.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(
		transparent, rgba(0,0,0,0.2));
}
.wavy span{
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 1em;
	animation: animate 3s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i))
}
@keyframes animate{
	0%{
		transform: .translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%, 100%{
		transform: translateY(0px);
	}
}
.container .container h3
{
  padding:35px;
}
.container div.row .card .card
{
  box-shadow: 7px 0px 45px rgba(0,0,0, .3);
  padding: 10px;
  margin: 7px;
  transition: box-shadow 0.5s;
  background-color: #dbf4fd;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
#Course{

  background-color: #fff;
}

.logo {
  color:  #1abc9c;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  background-color: #ecfbfc;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
p{
  font-size: 15px;
}
.carousel-indicators li {
  border-color:  black;
}
.carousel-indicators li.active {
  background-color: green;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel ,.panel1{
  transition: box-shadow 0.5s;
  background-color: #edf7fa;

}
.panel1:hover {
  box-shadow: 7px 0px 45px rgba(0,0,0, .3);
}
.panel {
  box-shadow: 7px 0px 45px rgba(0,0,0, .3);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  color: black;
}
.panel-heading {
  color: black !important;
 background-color: #edf7fa !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
background-color: #edf7fa;
}
h3,h2{
  font-weight: bold;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: black;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color:  white !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
#portfolio
{
  background-color: #ecfbfc;
}
#contact{
  font-size: 16px;
  background-color: #AACFCF;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.navbar,.footer
{
  background-image:url(img/nav.jpg);
  color:white;
  background-color: black;
}
.jumbotron{
  background: linear-gradient(-45deg,#ffffff, #111d5e, #ffff,#ffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color:black;
}
.table{
color:black;
font-size: 15px;
text-align: left;
height: 160%;
}
.card
{
margin-top: 40px;
border-width: thin;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#main, .tab-content{
  background: linear-gradient(-45deg,#b3c6ff, #99b3ff,#e6ecff,#002080);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border: 1px solid black;
  border-radius:0 !important;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#cont,.course{
padding: 60px;
margin-bottom: 20px;
}
.Modal,.modal-header{
margin-top: 20px;
border-color: black;
background-color: #93b5b3;
font-style: italic;
color:#ffffff;
}
.modal img{
  width:230px;height:150px;
  padding:3px;
}
.modal-body{
background-color: #c8dad3;
}
