/*selector
{
  property: value;
  }
*/


p.sss
{
  text-align: left;
}

img.ss{
    height: 5%;
    width: 100%;
    background-size:contain;
    float:left;
    background-position: left;
}

img{
  float: left;
}
header{
  clear:left;
}
header, p{
  color:#0D0225;
  text-transform:full-width;
  text-align: center;
  font-size: 150;
  font-style: italic;
  font-family:georgia;
}/*}
p
{
  color: black;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
  font-family: georgia;
  border: 5px solid rgba(0,0,0,1);
  padding:50,50,50,50:

font-family: ;
}*/

body{
  background-color: #F0F0F1 ;
  border: 5px,20px;
  border-color: blue;
}
span{
  font-family:"times new roman";
  font-weight: 150%;
  text-align: center;
  font-style: italic;
  text-decoration: none;
}
